<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\adm_datalake\AppData\Local\Programs\Python\Python311\python.exe|C:\inetpub\wwwroot\sqlAgentSecurity\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
